# 环境变量
## Object Storage Configuration: 存储相关配置
S3_ENDPOINT_URL=https://xxxxx.r2.cloudflarestorage.com
S3_BUCKET_NAME=xxxx
S3_ACCESS_KEY_ID=xxxxx
S3_SECRET_ACCESS_KEY=xxxxx
# 用于用户访问文件的自定义域名（你的 CDN 域名）
S3_CUSTOM_DOMAIN=xxxxx

## API AUTH Key
AUTH_SECRET=4487f197tap4ai8Zh42Ufi6mAHWGdy

OPENROUTER_API_KEY=sk-or-v1-xxxxx
OPENROUTER_MODEL=deepseek/deepseek-chat-v3-0324:free
OPENROUTER_REFERER=https://yourdomain.com
OPENROUTER_TITLE=Feishu Doc Crawler

DETAIL_SYS_PROMPT=你是一个网页摘要生成器，请总结以下网页内容...
TAG_SELECTOR_SYS_PROMPT=请从以下内容中提取5个关键词，使用英文逗号分隔...
LANGUAGE_SYS_PROMPT=请将以下内容翻译为{language}...

